@import './variables.scss';

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: $desktop-break) {
        max-width: 1200px;
        margin: 60px auto 0 auto;
    }
}

.card-wrap {
    width: 50%;

    &.hidden {
        display: none;
    }

    &.selected {
        display: block; 
    }

    @media (min-width: $phone-break) {
        width: calc(25%);
    }

    @media (min-width: $desktop-break) {
        width: calc(16.6%);
    }
}

.card {
    background: white;   
    height: 160px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px; 

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
    }

    @media (min-width: $desktop-break) {
        height: 160px;
    }

    @media (min-width: $xldesktop-break) {
        height: 220px;
    }

    .complexity {
        color: $blue;
        font-size: 45px;    
        line-height: 40px;

        @media (min-width: $desktop-break) {
            font-size: 70px;
            line-height: 65px;
        }
    }

    .back {
        color: #000;
    }
}

.flip-enter-active {
    transition: all 0.4s ease;
}

.flip-enter {
    transform: rotateY(180deg);
    opacity: 0;
}

.flip-leave {
    display: none;
}
