@import './variables.scss';

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    color: white;
    background-image: linear-gradient(bottom right, $blue, #0F7FA1);
    height: 100%;
    margin: 0;
    padding: 0 15px;
    font-family: $Font;
}

#app {
    font-family: $Font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 30px;
  }

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin: 2px 0 20px 0;
    font-weight: 500;
}


button {
    display: none;
    background-color: $pink;
    width: 250px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 12px 35px;
    font-family: $Font;
    font-weight: 500;
    font-size: 19px;
    color: white;
    text-align: center;
    margin: 50px auto 20px auto;
    border: none;
    transition: all 0.5s;
    position: relative;
    border: 1px solid $pinkhover;
    overflow: hidden;
    transition: all .25s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        background: $pinkhover;
    
    }
}