@import './variables.scss';

body {
    background: $darkgrey;
    color: white;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 30px;
  }

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin: 2px 0 20px 0;
}