@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$Font: 'Roboto', sans-serif;

$blue: #66B0C6;
$darkgrey: #2B2F2F;
$pink: #DE667B;
$pinkhover: #e68391;

$xxldesktop-break: 1380px;
$xldesktop-break: 1280px;
$desktop-break: 1024px;
$tablet-break: 800px;
$phone-break: 568px;